//*--------------------------------------variables---------------------------------------------------------------------------------
$ct: 1160px;
$elg:1200px;
$lg:992px;
$md:767px;
$sm:479px;
//*--------------------------------------media---------------------------------------------------------------------------------
//--------------------------------------ct---------------------------------------------------------------------------------
@media(max-width:$ct){
     
}
//--------------------------------------1350---------------------------------------------------------------------------------
@media(min-width:1350px){
 .main-block{
  &::before{
    width:41%;
  padding-top: 45%;
  }
 }    
}
//--------------------------------------activities---------------------------------------------------------------------------------
.activities{
  &__row {
    margin: 0 -50px;
  }

  &__column {
    padding: 0 50px;
    margin: 0px 0px 80px 0px;
  }
}
//--------------------------------------elg---------------------------------------------------------------------------------
@media(max-width:$elg){
//--------------------------------------main-block---------------------------------------------------------------------------------
.main-block{
    &__body {
        padding: 221px 0px 60px 0px;
      }
    &::before{
        content: '';
        top:50%;
        transform: translateY(-50%);
    }
}
//--------------------------------------full---------------------------------------------------------------------------------
.full{
  &__top-text {
    &:not(:last-child){
    margin: 0px 0px 160px 0px
    }
  }
  &__content{
        padding: 80px 15px 35px 15px;
  }
}
//--------------------------------------info---------------------------------------------------------------------------------
.info{
  &__row {
    margin: 0 -14px;
  }

  &__column {
    padding: 0 14px;
  }

  &__content {
    padding: 88px 15px 50px 15px;
  }
}
}
//--------------------------------------lg---------------------------------------------------------------------------------
@media(max-width:$lg){
//--------------------------------------header---------------------------------------------------------------------------------
.header{
    &__body{
        display: block;
        text-align: center;
        >*{
            &:not(:last-child){
            margin: 0px 0px 15px 0px
            }
        }
    }
}
.menu-header{
    &__list{
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -10px;
        li{
           margin: 0px 0px 15px 0px;
            padding: 0 10px;
        }
    }
    &__link{
        &_a{
            &::before{
                content:"";
                bottom: -3px;
            }
        }
    }
}
//--------------------------------------about---------------------------------------------------------------------------------
.about {

  &__body {
    padding: 120px 0px 30px 0px;
  }
  &__side-text{
    padding: 0px 0px 0px 4%;
    top: 40px;
  }
  &__text{
    &:not(:last-child){
    margin: 0px 0px 60px 0px
    }
  }
}
//--------------------------------------help---------------------------------------------------------------------------------
.item-help{
  &_sm{
    .item-help{
      &__title{
        font-size: 28px;
      }
      &__body{
            padding: 20% 10% 0;
      }
    }
  }
}
.top-help{
  &__body{
    padding: 0px 0px 45px 0px;
  }
}
.bottom-help{
  &__body{
    padding: 45px 0px 0px 0px;
  }
}
//--------------------------------------activities---------------------------------------------------------------------------------
.activities{
   &__column {
    margin: 0px 0px 60px 0px;
  }
}
//--------------------------------------full---------------------------------------------------------------------------------
.full{
  &__top-text {
    &:not(:last-child){
    margin: 0px 0px 120px 0px
    }
  }
  &__content{
        padding: 60px 15px 30px 15px;
  }
}
//--------------------------------------know---------------------------------------------------------------------------------
.know{
  &__text{
    &:not(:last-child){
    margin: 0px 0px 110px 0px
    }
  }
}
//--------------------------------------full---------------------------------------------------------------------------------
.full{
  &__title{
    font-size: 55px;
  }
  &__text{
    font-size: 32px;
  }
}
//--------------------------------------info---------------------------------------------------------------------------------
.info{
  &__row {
    display: block;
    text-align: center;
  }
  &__column {
    padding: 0 14px;
    &:not(:last-child){
    margin: 0px 0px 20px 0px
    }
  }

  &__content {
    padding: 70px 15px 45px 15px;
  }
}
.item-info{
  &__title{
    &:not(:last-child){
    margin: 0px 0px 25px 0px
    }
  }
  &__list {
  >li{
    &:not(:last-child){
    margin: 0px 0px 15px 0px
    }
  }
}
}
}
//--------------------------------------mb---------------------------------------------------------------------------------
@media(max-width:$md){
//--------------------------------------main-block---------------------------------------------------------------------------------
.main-block{
    &__body {
        padding: 210px 0px 45px 0px;
      }
      &__title{
        font-size: 42px;
      }
}
//--------------------------------------why---------------------------------------------------------------------------------
.why {
  &__content{
    padding: 100px 0px 70px 0;
  }
}
//--------------------------------------about---------------------------------------------------------------------------------
.about {

  &__body {
    padding: 120px 0px 25px 0px;
  }
}
//--------------------------------------help---------------------------------------------------------------------------------
.help{
  &__body{
    padding: 25px 0px 28px 0px;
  }
}
.top-help{
  &__body{
    padding: 0px 0px 25px 0px;
  }
  &__row{
    flex-wrap: wrap;
  }
  &__column{
    flex: 0 1 50%;
    padding-top: 40%;
  }
}
.bottom-help{
  &__body{
    padding: 25px 0px 0px 0px;
  }
  &__column{
    flex: 0 1 50%;
    padding-top: 50%;
  }
}
//--------------------------------------activities---------------------------------------------------------------------------------
.activities{
  &__body {
    padding: 25px 0px 10px 0px;
  }
  &__row {
    margin: 0 -30px;
  }

  &__column {
    padding: 0 30px;
    margin: 0px 0px 40px 0px;
    flex: 0 1 50%;
  }
}
//--------------------------------------full---------------------------------------------------------------------------------
.full{
  &__top-text {
    &:not(:last-child){
    margin: 0px 0px 90px 0px
    }
  }
  &__content{
        padding: 45px 15px 30px 15px;
  }
}
//--------------------------------------know---------------------------------------------------------------------------------
.know{
  &__text{
    &:not(:last-child){
    margin: 0px 0px 75px 0px
    }
  }
}
//--------------------------------------full---------------------------------------------------------------------------------
.full{
  &__title{
    font-size: 48px;
    &:not(:last-child){
    margin: 0px 0px 45px 0px
    }
  }
  &__text{
    font-size: 32px;
  }
}
//--------------------------------------contact---------------------------------------------------------------------------------
.contact{
  &__text{
    &:not(:last-child){
    margin: 0px 0px 50px 0px
    }
  }
}
//--------------------------------------info---------------------------------------------------------------------------------
.info{
  &__content {
    padding: 55px 15px 30px 15px;
  }
  &__column{
    &:not(:last-child){
      margin: 0px 0px 20px 0px;
    }
  }
}
.item-info{
  &__title{
    &:not(:last-child){
    margin: 0px 0px 20px 0px
    }
  }
}
//-------------footer----------------------------------------------------------------
.footer {
  &__body{
    text-align: center;
  }
}
}
//--------------------------------------sm---------------------------------------------------------------------------------
@media(max-width:$sm){
//--------------------------------------reusable---------------------------------------------------------------------------------
.button{
    display: block;
}
//--------------------------------------main-block---------------------------------------------------------------------------------
.main-block{
    &__body {
        text-align: center;
      }
      &__logo{
        text-align: left;
        &:not(:last-child){
        margin: 0px 0px 35px 0px
        }
      }
      &__title{
        &:not(:last-child){
        margin: 0px 0px 30px 0px
        }
      }
      &__text{
        &:not(:last-child){
        margin: 0px 0px 40px 0px
        }
      }
      &__links{
        display: block;
      }
      &__button{
        &:not(:last-child){
        margin: 0px 0px 15px 0px
        }
      }
}
//--------------------------------------why---------------------------------------------------------------------------------
.why {
  &__body{
    display: block;
  }
  &__content{
    padding: 40px 0px 30px 0;
    text-align: center;
  }
  &__title {
    &:not(:last-child){
    margin: 0px 0px 25px 0px
    }
  }
  &__image{
    padding-top: 90%;
    img{
      object-position: center;
    }
  }
  &__text{
    span{
      font-size: 22px;
    }
  }
}
//--------------------------------------about---------------------------------------------------------------------------------
.about {

  &__body {
    padding: 100px 0px 20px 0px;
  }
  &__side-text{
    padding: 0px 0px 0px 3%;
  }
  &__text{
    text-align: center;
  }
}
//--------------------------------------help---------------------------------------------------------------------------------
.help{
  &__body{
    padding: 18px 0px 20px 0px;
  }
}
.top-help{
  &__body{
    padding: 0px 0px 12px 0px;
  }
  &__row{
    flex-wrap: wrap;
  }
}
.bottom-help{
  &__body{
    padding: 12px 0px 0px 0px;
  }
}
.item-help{
  &__title{
    font-size: 23px;
    padding: 15px 0px 0px 15px;
  }
  &__body{
    padding: 15% 10% 0;
  }
  &_sm{
    .item-help{
      &__body{
        padding: 12% 8% 0;
      }
      &__title{
        font-size: 21px;
      }
    }
  }
}
//--------------------------------------activities---------------------------------------------------------------------------------
.activities{
  &__body {
    padding: 20px 0px 10px 0px;
  }
  &__column {
    flex: 0 1 100%;
    text-align: center;
    &:last-child{
      margin: 0px 0px 20px 0px;
    }
  }
}
//--------------------------------------full---------------------------------------------------------------------------------
.full{
  &__body{
   flex-wrap: wrap;
   flex-direction: column;
  }
  &__image{
    width: 100%;
    padding-top: 50%;
    img{
      max-width: 100%;
    }
  }
  &__body{
    width: 100%;
  }
  &__top-text {
    &:not(:last-child){
    margin: 0px 0px 35px 0px
    }
  }
  &__content{
        padding: 45px 15px 25px 15px;
        text-align: center;
  }
}
//--------------------------------------know---------------------------------------------------------------------------------
.know{
  &__body{
    flex-direction: column-reverse;
  }
  &__text{
    &:not(:last-child){
    margin: 0px 0px 30px 0px
    }
  }
}
//--------------------------------------full---------------------------------------------------------------------------------
.full{
  &__title{
    &:not(:last-child){
    margin: 0px 0px 20px 0px
    }
  }
}
//--------------------------------------contact---------------------------------------------------------------------------------
.contact{
  &__text{
    &:not(:last-child){
    margin: 0px 0px 35px 0px
    }
  }
}
//--------------------------------------info---------------------------------------------------------------------------------
.info{
  &__body{
    flex-direction: column-reverse;
  }
  &__image{
    padding-top: 50%;
  }
  &__content {
    padding: 30px 15px 20px 15px;
  }
}
.item-info{
  &__title{
    font-size: 18px;
    &:not(:last-child){
    margin: 0px 0px 20px 0px
    }
  }
}
}